---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -1
AlignArrayOfStructures: Right
AlwaysBreakTemplateDeclarations: MultiLine
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeComma
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
IndentCaseLabels: true
InsertBraces: true
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
PointerAlignment: Left
QualifierOrder: ['inline', 'static', 'constexpr', 'type', 'const', 'volatile']
QualifierAlignment: Custom
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
ShortNamespaceLines: 8
SpacesBeforeTrailingComments: 2
UseCRLF: false
UseTab: Never
DisableFormat: false
...
